.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

blockquote {
  padding-left: 1em;
  margin-top: 1.4em;
  border-left: solid 2px black;
  margin-bottom: 1.4em;
  color: #444;
}

body {
  background-color: rgb(251, 251, 251);
  color: rgb(15, 15, 15);
}

h3 {
  font-size: 1.1em;
}
